In [7]:
# default_exp dataset_builder

# Dataset Builder
> Builds an optimal dataset with knowledge base relations, from a vanilla dataset.

In [8]:
#export 
import random
from rake_nltk import Rake
from kirby.database_proxy import WikiDatabase
import json
import importlib

In [9]:
#export
class DatasetBuilder():
    def __init__(self):
        self.rake = Rake()
        self.db = WikiDatabase()
        pass
    
    def build(self, ds, dataset_type='random'):
        "Build a database based a given dataset"
        if dataset_type == 'random':
            ds.map(self.random, batched=False)
        elif dataset_type == 'description':
            pass
        elif dataset_type == 'relevant':
            pass
        
    def keyword(self, x):
        ranked_phrases = self.get_ranked_phrases(x)
        return ranked_phrases[0]
    
    def random(self, x):
        accepted_entities = []
        ds_builder.rake.extract_keywords_from_text(x)
        ranked_phrases = ds_builder.rake.get_ranked_phrases()
        print(ranked_phrases)
        keywords = self.keyword(x)
        print(keywords)
        print(self.db.get_entities_by_label_extensive('cristiano ronaldo'))
        for entity in keywords: 
            print(entity)
#             query_result = self.db.get_entity_by_label(entity)
#             if len(query_result) == 0: 
#                 continue
#             if len(query_result) > 1:
#                 second_result = db.get_entities_by_label_extensive(entity)
#                 rand_index = random.randint(0, len(second_result) - 1)
#                 accepted_entities.append(second_result[rand_index])
#             else:
#                 accepted_entities.append(query_result[0])
        return e
    
    def get_ranked_phrases(self, x):
        self.rake.extract_keywords_from_text(x)
        return self.rake.get_ranked_phrases()
    
    def entity(self, ranked_phrases):
        "Queries the knowledge base to find the entity and it's relations"
        for phrase in ranked_phrases:
            entity = self.kba.get_entity(phrase)
            if entity is not None:
                return entity
        return entity

# Testing

In [10]:
# creation
ds_builder = DatasetBuilder()
assert isinstance(ds_builder, DatasetBuilder)

In [11]:
# Test ranked phrases
x = "Stephen Curry is my favorite basketball player."
ds_builder.rake.extract_keywords_from_text(x)
ranked_phrases = ds_builder.rake.get_ranked_phrases()
ranked_phrases

['favorite basketball player', 'stephen curry']

In [12]:
print(ds_builder.db.conn)
ds_builder.db.get_similar_entities_label('Cristiano Ronaldo')

<sqlite3.Connection object at 0x7fc0a2dd5120>
Execution failed on sql 'SELECT * FROM Entities WHERE label  LIKE "%Cristiano Ronaldo%";': no such table: Entities

NameError: name 'exit' is not defined

In [46]:
# Get random association
x = "Cristiano ronaldo played for Real Madrid"
random_association = ds_builder.random(x)
random_association

['cristiano ronaldo played', 'real madrid']
cristiano ronaldo played
Execution failed on sql 'SELECT * FROM Entities_c WHERE label  LIKE "cristiano ronaldo%";': no such table: Entities_c

NameError: name 'exit' is not defined